[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Sulfyderz
	email = Sulfyderz@live.fr
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	sw = switch
[push]
	default = matching
[http]
	sslVerify = false
